*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 20vh;
}

.hello-title{
    font-size: 20pt;
}

.name-mariana{
    font-size: 40pt;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-mariana{
    width: 400px;
}

.congrats-conteiner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.congrats-text{
    color: #103362;
    font-size: 54pt;
}

.special-day{
    margin-top: 30px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    width: 60%;
    margin-bottom: 30px;
}

.special-text{
    color: #103362;
    font-size: 26pt;
}

.music-text{
    margin: 10px 0 40px 0;
}

.special-texts-conteiner{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 40px 0 ;
}

.special-texts-conteiner p{
    margin-bottom: 10px;
}

.special-texts-conteiner h2{
    color: #103362;
    font-size: 24pt;
}

.cutephoto{
    width: 400px;
    margin-bottom: 30px;
}


@media (max-width: 390px) {
    header img{
        width: 100px;
    }

    .hello-title{
        font-size: 16pt;
    }

    .name-mariana{
        font-size: 26pt;
    }

    .img-mariana{
        width: 250px;
        margin-bottom: 70px;

    }

    .congrats-conteiner img{
        width: 50px;
    }

    .congrats-text{
        font-size: 24pt;
        text-align: center;
    }

    .special-day{
        width: 80%;
    }

    .special-text{
        font-size: 18pt;
    }

    .music-text{
        font-size: 10pt;
        text-align: center;
    }

    .cutephoto{
        width: 250px;
    }
}
