.container-gallery{
    width: 100%;
    background-color: #000;
}

.header-gallery{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-gallery h2{
    font-weight: bold;
    color: red;
}

.header-gallery h2 span{
    color: white;
}

.main-gallery{
    position: relative;
}

.main-gallery::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;

    background: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0.25),
        rgba(255, 0, 60, 0.1),
        transparent
    );

    pointer-events: none;
}

.main-gallery h1{
    margin-top: 90px;
    color: rgb(255, 255, 255);
    font-size: 60pt;
}

.main-gallery h3{
    margin-top: 20px;
    color: rgba(255, 26, 26, 0.692);
    font-size: 20pt;
}

.gallery-pictures{
    margin-top: 100px;
    display: grid;
    gap: 50px 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

.img-picture{
    width: 200px;
}

.picture-description{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    color: #fff;
}

.picture-container{
    border: 1px solid rgba(255, 0, 0, 0.473);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture-container:hover{
    transition: 0.5s;
    border: 1px solid rgba(255, 0, 0, 0.884);
    color: red;    
}


@media (max-width: 414px) {
    .header-gallery{
        padding: 10px;
    }


    .gallery-pictures{
        grid-template-columns: 1fr;
    }

    .main-gallery h1{
        font-size: 40pt;
        text-align: center;
    }

}